.home-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 500px;
  font-size: $font-size-general;
  margin-top: 20vh;
  margin-left:0;
  margin-right:30vh;
  gap:20px;
}