.weather-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 140%;
  height: 100%;
  border-radius: 20px;
  background-color: $color-white-transparent;
}

.inscription{
  font-size: calc($font-size-smaller - 7px);
}

.error{
  color:$color-red;
  font-family: $font-weight;
  font-style: italic;

}



.weather-box{
  font-size: $font-size-smaller;
  padding: 15px;

  border: 2px solid $color-gray-white;
  border-radius: 20px;
    &:focus{
      outline: none;
    }
}

.weather-data {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  font-size: $font-origin;

 :first-child{
   font-size: $font-size-bigger;

 }
  .weather-image{
    height:150px;
  }

  .temp{
    font-family: $font-weight;
    color:$color-black;
  }

  :last-child{
    font-size: calc($font-size-smaller + 10px);
    margin-left: 40px;
  }
}

