.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 140%;
  height: 100%;
  border-radius: 20px;
  background-color: $color-white-transparent;
}

.inscription {
  font-size: $font-size-smaller;
}

.error {
  color: $color-red;
  font-family: $font-bolder;
  font-style: italic;
  font-size: $font-size-smaller;
}

.weather-box {
  font-size: $font-size-smaller;
  width: 30vw;
  padding: 1vh 2vw;
  border: 2px solid $color-gray;
  border-radius: 20px;

  &:focus {
    outline: none;
  }
}

.weather-data {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  font-size: $font-origin;
  width: auto;

  :first-child {
    font-family: $font-bold;
    font-size: 5rem;
    color: $color-gray-white;
    letter-spacing: -4px;
    height: auto;
  }

  .weather-image {
    height: 7vh;
  }

  .temp {
    font-family: $font-bolder;
    color: $color-white;
  }

  :last-child {
    font-size: calc($font-size-smaller + 10px);
    margin-left: 40px;
    color: $color-gray-white
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90vw;
    height: 60vh;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .weather-box {
    width: 80vw;
  }

  .weather-data {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;

    :first-child {
      font-size: $font-size-smartphone;
    }

    :nth-child(3) {
      font-size: $font-size-smartphone;
    }

    :last-child {
      margin: 0;
      font-size: $font-size-smaller;
    }
  }
}