.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: $color-white;
  border: none;
  color: $color-gray;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px 5vw;
}

.btn:hover {
  background-color: $color-gray-white;
}

.home {
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  .navigation {
    margin: 50px auto;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    position: absolute;
    left: 25vw;
    bottom: 2vh;
    margin: 0;
  }
}